.categories, .category > ul {
	list-style-type: none;
	padding: 0;

	.category-details {
		padding: 0;
		background-color: #fff;
		border-radius: 0;
    	border: 1px solid #e6e6e6;
	}

	.category-color {
		position: absolute;
		left: -1px;
		top: -1px;
		bottom: -1px;
		z-index: 1;
		width: 6px;
	}

	> li {

		padding-top: 10px;
		padding-bottom: 10px;
		
		.cards {
			border: 1px solid black;
		}

		.box-footer {
			display: block;
			-webkit-transition: border-color .15s ease-in;
			transition: border-color .15s ease-in;
			border-top: 1px solid #e6e6e6;
			padding-top: 15px;
			padding-bottom: 15px;
		}

		@media (max-width: @screen-xs-max) {
			border-top: 1px solid @gray-lighter;
			padding-bottom: 0;
			border: none!important;
			&:last-child {
				border-bottom: 1px solid @gray-lighter;
			};
		}

		min-height: 53px;

		.content {

			.timeago {
				margin: 0 0 10px;
				display: inline-block;
				color: #999;
			}
			.show-separator{
				transition: border-color .15s ease-in;
				border-right: 1px solid #e6e6e6;
				min-height: 80px;
			}
			.icon {
				font-size: 17px;
				line-height: 17px;
				padding: 13px;
				border-radius: 50%;
				margin-right: 15px;
				min-width: 46px;
				min-height: 46px;
				margin-top: 2px;
			}

			img, .user-icon {
				.user-icon-style(46px, 2.4rem, 50%);
			}

			h2 {
				display: block;
				word-wrap: break-word;
				overflow: hidden;
				font-size: 18px;
				line-height: 22px;
				padding-top: 15px;
				padding-bottom: 5px;
				margin: 0;

				strong {
					color: @gray-dark;
				}

				a {
					color: @gray-dark;
					font-weight: 700;
					-webkit-transition: color .15s ease-in;
					transition: color .15s ease-in;
				}
			}

			@media (max-width: @screen-sm-max) {
				.user-img, .user-icon {
					.user-icon-style(@border-radius: 50%);
					margin-right: 8px;
				}
				h2 {
					margin-left: 0;
				}
			}
		}

		@media (max-width: 500px) {
			.teaser {
				position: absolute;
				right: 4px;
			}
		}

		.mobile-stat {
			padding-left: 0px;
		}

		.card {
			border-left: none;
			text-align: left;
			margin-top: 2px;
			overflow: hidden;
			height: 63px;
			font-size: 12px;
			line-height: 14px;

			> * {
				padding-left: 20px;
			}

			img {
				border-radius: 50%;
				width: 24px;
				height: 24px;
			}

			p {
				margin: 0;
				.emoji {
					max-width: 12px;
					max-height: 12px;
				}
			}

			.post-content {
				overflow: hidden;
				margin-top: 10px;
				color: @comment-color;
				font-size: 13px;
				letter-spacing: 0;
				blockquote {
					display: none;
				}
			}

			.user-icon {
				display: inline-block;
				.user-icon-style(24px, 1.5rem, 50%);
			}
		}

		.category-children {
			.category-children-item {
				margin-right: 10px;
			}
			.icon {
				min-width: 23px;
				min-height: 23px;
				font-size: 10px;
				line-height: 12px;
				padding: 5px;
				margin-right: 5px;
			}
		}
	}
}


.category-header {
	width: 100%;
	height: 110px;
	text-align: center;
	margin: 0;
	padding-top:25px;
	.pointer;
	margin-bottom: 10px;
	overflow:hidden;

	&:hover {
		filter: brightness(115%);
		-webkit-filter: brightness(115%);
	}

	.category-box {
		height:90px;

		.post-preview {
			padding-left:10px;
			padding-right:10px;
			text-align:left;
			img {
				width:60px;
				height:60px;
				padding-right:5px;
			}

			p {
				overflow: hidden;
				text-overflow:ellipsis;
				height:60px;
			}
		}
	}
}

.category-header-image-auto {
	-webkit-background-size: auto!important;
	-moz-background-size: auto!important;
	-o-background-size: auto!important;
	background-size: auto!important;
	background-position: 0% 0% !important;
}

.category-header-image-cover {
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
	background-position: center!important;
}

.category-header-image-contain {
	-webkit-background-size: contain!important;
	-moz-background-size: contain!important;
	-o-background-size: contain!important;
	background-size: contain!important;
	background-position: center!important;
}


.stats {
	font-size: 20px;
	text-align: center;
	margin-top: 7px;
	line-height: 22px;

	small {
		text-transform: uppercase;
		color: #000;
		font-weight: 300;
		font-size: 12px;
	}
}
