.category {

	.topic-list {
		margin-top: 10px;
	}

	> ul {
		> li {
			list-style: none;

			&:not(.unread) {
				.card {
					border-color: lighten(@gray-light, 20%) !important;
				}

				h2 a {
					color: @gray;
				}
			}

			&.deleted {
				-moz-opacity: 0.30;
				opacity: 0.30;
			}

			&.pinned {
				[component="topic/pinned"] {
					cursor: move;
				}
			}

			.select {
				position: relative;
				.pointer;

				&:before {
					content: "";
					display: none;
				}

				.fa-check {
					padding: 14px;
					border-radius: 50%;
					position: absolute;
					font-size: 15px;
					opacity: 0;
					top: 0px;
					left: 0px;

					&:before {
						.pointer;
					}

					@media (max-width: @screen-sm-max) {
						padding: 7px;
					}
				}

				.user-img, .user-icon {
					opacity: 1;
				}

				.fa-check, .user-img, .user-icon {
					.transition(.2s ease-in-out all);
				}

				float: left;
			}

			.avatar .select:hover {
				.user-img, .user-icon {
					opacity: 0;
				}

				.fa-check {
					border: 1px solid @brand-primary;
					color: @brand-primary;
					opacity: 1;
				}
			}

			&.selected {
				.select .user-img, .select .user-icon {
					opacity: 0;
				}

				.avatar .select .fa-check {
					opacity: 1;
					border: 1px solid @brand-success;
					color: @brand-success;
				}
			}

			.tag-list {
				display: inline-block;
				.tag {
					text-transform: uppercase;
					font-size: 10px;
					background: lighten(@gray-lighter, 2.5%);
					padding: 5px;
					white-space: nowrap;
				}
			}

			.fa-stack {
				font-size: 90%;
			}

			.card .user-icon {
				display: inline-block;
				.user-icon-style(24px, 1.5rem, 50%);
			}
		}

		&:last-child li {
			border-bottom: 0;
		}
	}

	.unread {
		.topic-title {
			font-weight: bold;
		}
	}
}

.category, .categories, .subcategory {
	> p {
		text-transform: uppercase;
		color: @gray-light;
	}

	.description {
		font-size: 1.2rem;
		font-weight: 400;
		line-height: 1.2;
		color: #000;
		margin-top: 5px;
		min-height: 25px;
		margin-left: 0;
	}

	.category-children {
		margin-left: 0;
	}

	.category-children {
		display: block;
		font-size: 15px;

		small {
			color: #999999;
		}
	}
}

.categories-title {
	text-transform: uppercase;
	color: @gray-light;
	margin: 0 0 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
}

.section-title {
    font-size: 18px !important;
    font-weight: 700;
	letter-spacing: 1.5px !important;
	text-transform: uppercase;
	color: #000;
	margin: 0 0 10px;
}

[component="category-selector"], .category-dropdown-container {
	.fa-stack {
		font-size: 65%;
	}
}

.category-details-new {
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 5px 2px #eee;
}

.category-dropdown-menu {
	max-height: 500px;
	overflow-y: auto;
}

.merge-topic-card {
	position: fixed;
	bottom: 10%;
	right: 2rem;
	z-index: 1;
	.topics-section {
		text-align: center;
	}
}

@media screen and (min-width: @screen-sm-min) {
	.merge-topic-card {
		max-width: 33%;
	}
}


.topic-card {
	min-height:  80px;
	margin-bottom: 25px; 
	box-shadow: 0 2px 5px 2px #eee; 
	background-color: #fff; 
	padding: 15px;	
	border-radius: 4px;
	width: 70%;
	//border-right: 2px solid #d8d8d8;
	float:left;

	@media(max-width: 700px) { width:100%; }
}

.search-button-nav { margin-top: 0; }

.stats-card {
	min-height:  80px;
	margin-bottom: 25px; 
	box-shadow: 0 2px 5px 2px #eee; 
	background-color: #fff; 
	padding: 15px;	
	border-radius: 4px;
}
