a.permalink {
	&,
	&:hover,
	&:focus,
	&:active {
		color: @gray-light;
		text-decoration: none;
	}
}

.stats {
	font-size: 18px;
    font-weight: 700;
    padding: 17px 0;
    margin-top: 0;
	color: #333;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Nunito",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,sans-serif !important;
}

body {
    // margin: 0;
    // padding: 0;
    // font-size: 16px;
    // line-height: 1.5;
    font-family: "Lato",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Ubuntu,"Emoji One","AppleColorEmoji",sans-serif !important;
    // color: #555;

    @media (min-width: 979px)
	{
		padding-top: 90px !important;
	}

}


.breadcrumb {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .06em;
}
.breadcrumb-title {
    color: @hsp-green !important;
    text-decoration: none !important;
}
.section-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
}


.main-footer {
    background-color: #52565a;
    color: #fff;
    line-height: 1.4;
    padding: 40px 0;
}
@media (min-width: 1400px){
.main-footer-content {
    max-width: 1320px;
}
}
.main-footer-content {
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.main-footer ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.social-nav {
    // display: -webkit-box;
    display: flex;
}

.footer-nav li {
    margin-bottom: 5px;
}
.footer-info , .footer-icon{
    flex: 1 0 auto;
}

.footer-telephone, .footer-email {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
}

.footer-nav li a {
    color: #fff;
    font-size: 14px;
}

.footer-support {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: 5px;
    margin-bottom: 0 !important;
    text-align: center;
    text-transform: none;
    color: #fff;
    background-color: #9aca40;
    border-radius: 2px;
}
.footer-social, .footer-info {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.footer-app-icon {
    height: 50px;
}

.footer-big-logo {
    height: 100px;
    width: auto;
}

#mc_embed_signup label {
    font-size: 15px;
    font-weight: normal;
}

#mc_embed_signup label {
    display: block;
    /* font-size: 16px; */
    padding-bottom: 10px;
    font-weight: bold;
}


.footer-apps-title {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

#mc_embed_signup input.email {
    border-radius: 0px;
    padding: 10px;
    font-family: 'Lato',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

@media (max-width: 768px){
#mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px;
}
}
#mc_embed_signup input.email {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    border: 1px solid #ABB0B2;
    color: #343434;
    width: 100%;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
}


#mc_embed_signup .button {
    margin-top:10px;
    background-color: #9aca40;
    font-family: 'Lato',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}


#mc_embed_signup .button {
    font-size: 13px;
    border: none;
    letter-spacing: .03em;
    color: #fff;
    box-sizing: border-box;
    height: 32px;
    width: 100%;
    line-height: 32px;
    padding: 0 18px;
    display: inline-block;
    margin: 0;
    margin-top:10px;
    transition: all 0.23s ease-in-out 0s;
}
@media (max-width: 900px){
.main-footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
}
@media (max-width: 900px){
.footer-subscribe, .footer-social, .footer-info {
    margin-top: 30px;
}
}
@media (max-width: 900px){
.footer-nav {
    text-align: center;
}
}

@media (max-width: 900px){
.main-footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
}



@media (max-width: 900px){
.footer-email, .footer-telephone {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
}

@media (max-width: 768px){
#mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 5px;
}
}

@media (max-width: 768px){
#mc_embed_signup .clear {
    display: block;
    width: 100%;
}
}
@media (max-width: 768px){
#mc_embed_signup .button {
    width: 100%;
    margin: 0;
}
}

@media (max-width: 900px){
.footer-subscribe, .footer-social, .footer-info {
    margin-top: 30px;
}
}

.social-nav li a {
    display: block;
    padding: 0px 10px;
}