@import "../nodebb-theme-persona/theme";                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
@import "./less/categories";
@import "./less/category";
@import "./less/header";
@import "./less/customize-theme";
@import "./less/topic";

.selected > .active > a {
    color: #3cb21f;
    background-color: rgba(0,0,0,.3);
}

@brand-primary:         #9aca40;
@brand-success:         #32B67A;
@brand-info:            #717484;
@brand-warning:         #ff6d00;
@brand-danger:          #F06260;
@hsp-green:                #3cb21f;                                                                       
@comment-color:            #737373;
@gray-light:               #bbb;

.page-size {                                                                                            
    min-height: 445px !important;
}

.main-footer {
    padding:20px 0 !important;
}

// .taskbar .navbar-nav li.taskbar-composer a:active, .taskbar .navbar-nav li.taskbar-composer a:focus, .taskbar .navbar-nav li.taskbar-composer a:hover
.taskbar {
    .navbar-nav{
        li.taskbar-composer a, {
            background: #65cc5c !important;
        }
    }
}

